<div class="nested-fields">
  <div class="form-inline">
    <%= f.input :sub_tag %>
    <%= f.input :mark, as: :integer %>
    <%= link_to_remove_association "Remove", f, class: "btn btn-danger btn-xs" %>
  </div>
  <br />
</div>
