<p>
  <strong>Tag:</strong>
  <%= @question.tag %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @question.mark %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', course_exam_questions_path(@question.exam.course, @question.exam) %>
