<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Grades</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%# %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% console %>